*~
LinkDef_out*
*.so
*.o
*.d
*.exe
*.png
*.root
*.cxx
*.aux
CORE
Tools
CMSSW_*
LeptonBabyMaker
batch/CORE.tar.gz
batch/condorFile
batch/dont_need/
batch/helper_babymaker.cc
batch/helper_babymaker.h
batch/logs/
batch/null
batch/temp.txt
v1.*
yields/yields.aux
yields/yields.log
yields/*.pdf
plotsFromBabies/*.pdf
rareSyst/analysis/LO/*.tex
rareSyst/analysis/NLO/*.tex
rareSyst/analysis/LO/*.pdf
rareSyst/analysis/NLO/*.pdf
software
batch/voms_status.txt
sync/*.txt
*.log
inSituFR/*.pdf
inSituFR/closure/*.tex
*.pcm
*.nfs*
FlipRate/derivation/*.pdf
FakeRate/app_region/*.tex
babies
batch/goodRunList/
FlipRate/application/*.pdf
LinkDef.h
kinem/*.pdf
kinem/presentation.*
