*~
LinkDef_out*
*.so
*.o
*.d
*.exe
*.png
*.root
CORE
Tools
CMSSW_*
batch/CORE.tar.gz
batch/condorFile
batch/dont_need/
batch/helper_babymaker.cc
batch/helper_babymaker.h
batch/logs/
batch/null
batch/temp.txt
v1.*
yields/yields.aux
yields/yields.log
yields/yields.pdf
